a, article, body, button, div, fieldset, footer, form, h1, h2, header, html, i, img, input, label, li, main, nav, p, section, small, span, strong, textarea, time, ul {
    background: transparent;
    border: 0;
    box-sizing: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
  }

  ul {
    list-style: none;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  button, input[type="email"], input[type="password"], input[type="submit"], input[type="text"], textarea {
    /*
    Get rid of native styling. Read more here:
    http://css-tricks.com/almanac/properties/a/appearance/
    */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  button, input[type="submit"] {
    cursor: pointer;
  }

  .clock h1{
    font-size:25px;
  }
  .clock-container {
    background-color: orange;
    border: 2px solid black;
    width: 650px;
    height: 125px;
    margin: 0 20px 20px 20px;
    color: white;
    padding: 10px;
    font-family: Orbitron;
    font-size: 20px;
  }

  .weather-box {
    display: flex;
    font-size: 28px;
    width: 650px;
    height: 125px;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    background-size: cover;
    background-position-y: 20%;
  }
